# references:
# * https://www.objc.io/issues/6-build-tools/travis-ci/
# * https://github.com/supermarin/xcpretty#usage

os: osx
osx_image: xcode12.2
language: objective-c

before_install:
- brew install swiftlint
- brew install cocoapods
- pod repo update

script:
- swiftlint
- make pod_lint
